<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please check the following information. If anything is wrong, you may delete and sign up again.</p>
    <div class="form-group">
      <table border="1">
        <tr>
          <td>Name</td>
          <td></td>
        </tr>
        <tr>
          <td>NRIC/FIN</td>
          <td></td>
        </tr>
        <tr>
          <td>Age</td>
          <td></td>
        </tr>
        <tr>
          <td>Career</td>
          <td></td>
        </tr>
        <tr>
          <td>Diabetes</td>
          <td></td>
        </tr>
        <tr>
          <td>Cancer</td>
          <td></td>
        </tr>
        <tr>
          <td>Heart disease</td>
          <td></td>
        </tr>
        <tr>
          <td>Pregnancy</td>
          <td></td>
        </tr>
      </table>
    </div>
    <a href="/"><button id = "delete" type="button" class="btn btn-primary">Delete</button></a>
    <a href="/"><button type="button" class="btn btn-primary">Return to home</button></a>
  </body>
</html>
